$theOrange:	rgb(255, 90, 5);
$textcolor: #505050;
$normalFonts: 'Source Sans Pro', sans-serif;
$headerFonts: 'Oxygen', sans-serif;

body {
    padding-top: 70px;
    background-color: #fafafa;
    color:$textcolor;
    font-family: $normalFonts;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

a{
	color:$theOrange;
	
	&:hover{
		color:$textcolor;
	}

	&:focus{
		color:$textcolor;
	}
}

h1,h2,h3,h4,h5,h6{
	font-family: $headerFonts;
}

.navbar{
	background-color: #ffffff;

	.logo{
		height:30px;
		position: relative;
		bottom:6px;
		float:left;
		margin-right:10px;
	}

	.dropdown-menu{
		border-radius: 0px;
		border:none;
	}
}

button.navbar-toggle{
	padding: 6px 10px;
	
	span{
		color:$theOrange;
	}
} 

.nav>li>a:focus, .nav>li>a:hover{
	background-color: $theOrange;
	color: white;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
	background-color: $theOrange;
	color: white;
}

.input-group{
	margin-bottom: 10px;
}

.btn-link{
	color:$textcolor;	
	
	&:focus{
		color: $theOrange;
	}	
	
	&:hover{
		color: $theOrange;
	}
}

.white-container{
	background-color: #ffffff;
	margin-bottom: 20px;
	padding: 20px;
}

.divider-vertical {
	height: 50px;
	margin: 0 9px;
	border-left: 1px solid #F2F2F2;
	border-right: 1px solid #FFF;
}

.gravatar-header{
	text-align: center;
	
	img{
		width:140px;
		margin-top: 20px; 
	}
}

#background-select label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
#background-select label > input + img.radio-thumbnail{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
  padding:2px;
}
#background-select label > input:checked + img.radio-thumbnail{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid $theOrange;
}

